/* 
    font-family: 'Raleway', sans-serif;
    font-family: 'Rubik', sans-serif; 
*/

/* MAIN */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    max-width: 1152px;
    top: 0;
    left: 0;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    background: #FAFBFD;
}

a {
    text-decoration: none;
}


/* HEADER */

.navigation {
    display: flex;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: space-between;
}